.map {
  width: 100vw;
  height: 100vh;
}

ul {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

li {
  gap: 16px;
}

button {
  position: fixed;
  bottom: 35px;
  right: 10px;
  z-index: 999;
}
